<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Joey</string>
	<string>Phoebe</string>
	<string>Chandler</string>
	<string>Monica</string>
	<string>Ross</string>
	<string>Rachel</string>
	<string>Janice</string>
</array>
</plist>
