<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Utility-From-Scratch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D014526A1C5AE4F6003EE90D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D01452831C5AE4F6003EE90D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D014528E1C5AE4F6003EE90D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
