<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Navigation-From-Scratch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0366F5B1C6185EE00618B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0366F741C6185EE00618B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0366F7F1C6185EE00618B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
