<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FileSystem-Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09681221C6AC0F300F318B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D096813B1C6AC0F400F318B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09681461C6AC0F400F318B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
